@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

a {
    text-decoration: none;
    color: white;
}

#home .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    width: 100%;
    background: #333;
    position: fixed;
    opacity: 0.7;
    z-index: 10;
}

#home .navbar-container h2 {
    font-size: 2.2rem;
}

#home .navbar-container ul {
    display: flex;
    list-style: none;
}

#home .navbar-container ul li {
    padding: 0 30px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: no-repeat center/cover url('../images/home/showcase.jpg');
    height: 100vh;
    width: 100%;
    color: white;
}

.header-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.header-container h1,
.header-container p,
.header-container button {
    z-index: 10;
}

.header-container h1 {
    font-size: 4rem;
}

.header-container p {
    font-size: 25px;
    margin: 30px 0;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-item h2 {
    margin: 20px 0;
}

.about-item p {
    margin-bottom: 20px;
}

.about-item .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container .flex-column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content h4,
.content h1,
.content p,
.content button {
    margin: 20px 30px;
}

.content button {
    border: 1px solid white;
}
#cases {
    padding-bottom: 30px;
}

.cases-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cases-heading h4,
.cases-heading p,
.cases-heading button {
    margin: 20px 30px;
}

.container .img-row {
    display: flex;
    padding: 0 4px;
}

.container .img-column {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 0 4px;
}

.container .img-column img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#team .team-item img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#team .team-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#team .team-item-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#Contact h1 {
    font-size: 2rem;
}

#Contact input,
#Contact button {
    margin: 10px 20px;
    padding: 20px;
    border-radius: 5px;
}

#Contact button {
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    border: none;
}