.text-primary {
    color: #28a745;
}

.bg-primary {
    color: white;
    background: #28a745;;
}

.bg-light {
    background: lightgray;
    color: #333;
}

.btn {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.01rem;
}

.flex-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    width: 50%;
}

.flex-column img {
    height: 100%;
    width: 100%;
    
}