.text-primary {
    color: #28a745;
}

.bg-primary {
    color: white;
    background: #28a745;;
}

.bg-secondary {
    color: white;
    background: rgba(0, 0, 255);
}

.bg-light {
    background: lightgray;
    color: #333;
}

.btn {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.01rem;
    cursor: pointer;
}

.flex-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.flex-columns {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.flex-reverse {
    flex-direction: row-reverse;
}